.ContactsForm {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  margin-top: 1rem;
}

.ContactsForm input {
  border-radius: 0.5rem;
  margin-bottom: 0.3rem;
  padding: 0.65rem;
}

.ContactsForm input[type='text'],
.ContactsForm input[type='email'] {
  width: 75%;
}

.ContactsForm button {
  margin-top: 1rem;
  padding: 0.65rem;
  width: 75%;
  border-radius: 0.7rem;
}

.ContactsForm button:hover {
  color: whitesmoke;
  background-color: cadetblue;
  border: 2px black solid;
}

.ContactsForm b {
  color: teal;
  margin-bottom: 0.25rem;
}
