.grid-2 {
  display: flex;
  justify-content: center;
}

.card {
  padding: 0.7rem;
  border: 1px dotted #444;
  margin: 0.5rem 0.25rem;
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  background-color: whitesmoke;
}

.icons i {
  margin-right: 0.25rem;
}

h4,
p {
  margin: 0.25em;
}

span {
  color: teal;
  font-weight: bold;
  margin-left: 0.25rem;
}

.type {
  color: #444;
}

ul {
  list-style: none;
}

.card button {
  padding: 0.33rem;
  border-radius: 0.25rem;
  color: teal;
  margin: 0.5rem;
  background-color: white;
}

.card button:hover {
  color: whitesmoke;
  background-color: cadetblue;
  border: 2px black solid;
}

.card input {
  padding: 0.25rem;
  border-radius: 0.25rem;
  margin-bottom: 0.2rem;
}

.edit-radio {
  display: flex;
}
