.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: black;
  background-color: teal;
  height: 10vh;
  width: 100%;
}

.navbar i {
  margin-right: 1rem;
  color: aliceblue;
}

.navbar p {
  font-weight: bold;
}

a {
  text-decoration: none;
  color: azure;
  font-weight: bold;
  display: inline-flex;
  margin: 0 1rem;
}

.nav-links p {
  display: inline-block;
  color: black;
}

.selected {
  color: black;
  border: 1px solid black;
  padding: 0.5rem;
}

a.logout {
  display: inline-block;
  justify-content: center;
  align-items: center;
  margin: 0 1rem 0 0;
}

.name {
  margin-right: 2rem;
}

span.hide {
  color: whitesmoke;
}

@media (max-width: 450px) {
  span.hide {
    display: none;
  }
  .logout-icon {
    float: right;
  }
  .title {
    display: none;
  }
  .nav-links p {
    margin: 1rem;
  }
  .nav-links a {
    margin: 0rem;
  }
}
